// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$black-color: #000;
$white-color: #fff;

$background-color:  $white-color;
$value-color:       $black-color;

$title-color:       $black-color;
$moreinfo-color:    $black-color;

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .value {
    color: $value-color;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: $black-color;
  }

}
