// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$black-color: #000;
$white-color: #fff;

$background-color:  $white-color;

$title-color:       $black-color;
$moreinfo-color:    $black-color;

$meter-background:  $white-color;

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $background-color;

  input.meter {
    background-color: $meter-background;
    color: $black-color;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: $black-color;
  }

}
